extends ../layouts/pages-layout

block title 
    - var title ="Дота 2"

block content
    //Тут будет дота
    header
        .dota-box
            .container-xl.p0
                .container
                    .row
                        .col-xxl-6.col-xl-6.col-lg-6.col-md-12
                            .hero-section.pt-5
                            h1.hero-title.text-white.m-0 Dota 2
                            p.hero-desc.text-white.my-5 
                            | Dota 2 - компьютерная многопользывательская командная игра жанра стратегия 
                            p.hero-desc.text-white
                            | Да
            